@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@700&family=Montserrat:wght@900&family=Pixelify+Sans&family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}

body {
    display: flex;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: center;
}

header h1 {
    font-size: 80px;
    font-family: 'Grenze Gotisch', serif;
    color: rgba(20, 20, 20, 0.908);
}

main {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
    border: 1px solid;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    overflow: hidden;
    border-radius: 4px;
}

.pixel {
    border: 1px rgba(0, 0, 0, 0.040) solid;
}

/*slider*/
.sliderContainer {
    margin: 10px;
    text-align: center;
    font-size: 18px;
}

.slider {
    -webkit-appearance: none;
    width: 200px;
    height: 10px;
    border-radius: 5px;  
    background: #878787;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .5s;
    transition: opacity .5s;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%; 
    background: #000000;
    cursor: pointer;
  }
  
/*slider*/

footer {
    display: flex;
    justify-content: center;
    padding: 10px;
}

footer a{
    color: black;
    text-decoration: none;
}